@import "tailwindcss";

@theme {
    /* Stitch / HTML Tasarım Renkleri */
    --color-primary: #6366F1;
    --color-primary-dark: #4F46E5;
    --color-background-light: #F9F9F9;
    --color-background-dark: #121212;
    --color-card-light: #FFFFFF;
    --color-card-dark: #1E1E1E;

    --color-text-main-light: #111827;
    --color-text-main-dark: #F3F4F6;
    --color-text-sub-light: #6B7280;
    --color-text-sub-dark: #9CA3AF;

    --color-accent-teal: #2DD4BF;
    --color-accent-red: #EF4444;

    /* Gölge Ayarları */
    --shadow-soft: 0 4px 20px -2px rgba(0, 0, 0, 0.05);
}

/* Temel Font Ayarı */
body {
    font-family: 'Inter', sans-serif;
    background-color: var(--color-background-light);
    color: var(--color-text-main-light);
}